.hexagonGrid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

/*!*negative top margin below calculated by multiplying .hexagonContainer width by .8660254 then dividing by 2*!*/

@media screen {
    .hexagonGrid {
        width: 130%;
        margin-left: -10%;
        margin-bottom: -22%;
        margin-right: -16%;
        margin-top: -11%;
    }
    .hexagonGrid .hexagonContainer {
        width: 20%;
    }
    .hexagonGrid .hexagonContainer:nth-child(2n+1) {
        margin: -8.660254% 0 0 0%;
    }
    .hexagonGrid .hexagonContainer:nth-child(2n) {
        margin: 0% -5% 0 -5%;
    }

}