.introFullContainer {
    width: 100%;
    align-self: flex-start;
    flex: 1;
    height: 100vh;
    background-color: rgba(248,247,247,1);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 3.5rem;
}
.textTitleCentered {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: textColorFade;
    animation-iteration-count: infinite;
    animation-duration: 50s;
    color: #0f0f0d;
}
.scrollLabel {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}
.scrollArrow {
    width: 0;
    height: 0;
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-top: 2.5rem solid #0f0f0d;
    margin-bottom: 3rem;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(1rem);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(1rem);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    60% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(1rem);
    }
    80% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}

