.introFullContainer {
    width: 100%;
    align-self: flex-start;
    flex: 1;
    height: 100vh;
    background-color: #f8f7f7;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 3.5rem;
    position: fixed;
    transition: 2s ease-in;
    opacity: 1;

}
.startFade {
    opacity: 0;
    visibility: hidden;
}
.textTitleCentered {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f0f0d;
    flex: 1;
}
.bounce {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    margin: 2rem 0 4rem 0;
    font-size: 1.5rem;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(1rem);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(1rem);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    60% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(1rem);
    }
    80% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}

#hoverEffect:hover {
    transform: scale(1.25);
    transition: transform 1s;
}