.contactInfo {
    text-align: center;
    margin: 1rem 1.5rem 2rem 1.5rem;
}
.contactInfo a {
    padding: 0 1.5rem;
    color: #f8f7f7;
    font-size: 1.5rem;
    font-weight: 400;
}
.contactInfo:hover {
    transform: scale(1.25);
    transition: transform 1s;
}
.contactInfo a:visited {
    text-decoration: underline;
    outline: none;
    border: none;
    box-shadow: none;
    opacity: .7;
}
.contactInfo a:focus {
    text-decoration: underline dashed;
    outline: none;
    border: none;
    box-shadow: none;
}
.contactInfo a:active {
    text-decoration: underline dotted;
    outline: none;
    border: none;
    box-shadow: none;
}
.contactLinksList {
    padding: 0 1.5rem;
    color: #f8f7f7;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 1rem 1.5rem;
}
.contactLink {
    padding: 0 1rem;
    font-size: 1.15rem;
}
.contactLink a {
    color: #f8f7f7;
}
.contactLink:hover {
    transform: scale(1.25);
    transition: transform 1s;
}
.titleBackground {
    background-color: #680a4d;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
}
.contactTitle {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: .5rem 0;
    text-align: center;
    color: #f8f7f7;
    font-weight: 400;
    font-size: 1.25rem;
    order: 1;
}
.contactTitle:hover {
    transform: scale(1.25);
    transition: transform 1s;
}
#resumeImg {
    border-radius: 0 0 .4rem .4rem;
    order: 2;
}
#resumeImg:hover + .contactTitle {
    transform: scale(1.25);
    transition: transform 1s;
}
@media screen and (min-width: 0px) and (max-width: 599.99px) {
    .contactInfo {
        margin: 1rem 0rem 2rem 0rem;
    }
    .contactInfo a {
        padding: 0 0rem;
    }
    .contactLinksList {
        padding: 0 0rem;
        margin: 1rem 0rem;
    }
}
@media screen and (min-width: 0px) and (max-width: 399.99px) {
    .contactInfo a {
        font-size: 1rem;
    }
    .contactLink {
        padding: 0 1rem;
        font-size: .8rem;
    }
}