.screenshotContainer {
    flex: 1;
    padding: 0 1rem;
}
.imagesContainer {
    position: relative;
    width: 100%;
}
.mobileBack {
    width: 100%;
}
.mobileScreen {
    position: absolute;
    z-index: 20;
    top: 7.5%;
    left: 5%;
    overflow-y: scroll;
    width: 90%;
    height: 90.5%;
    border-radius: .75rem;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.screenshot {
    z-index: 20;
    width: 100%;
    display: block;
}
.mobileScreen::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}