.pageContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4.5rem;
    min-height: 100%;
    background-color: #f8f7f7;
    flex: 1;
    padding-bottom: 2rem;
}
.extraPaddingTop {
    padding-top: 9.25rem;
}

@media screen and (min-width: 1680px) {
    .pageContentContainer {
        padding-top: 3.5rem;
    }
    .extraPaddingTop {
        padding-top: 7.75rem;
    }
}
/*@media screen and (min-width: 1680px) {*/
    /*.pageContentContainer {*/
        /*padding-left: 20%;*/
        /*padding-top: 0;*/
    /*}*/
    /*.extraPaddingTop {*/
        /*padding-top: 0;*/
    /*}*/
/*}*/
@media screen and (min-width: 775px) and (max-width: 1679.99px){
    .pageContentContainer {
        padding-top: 5.25rem;
    }
    .extraPaddingTop {
        padding-top: 9.25rem;
    }
}
@media screen and (min-width: 0px) and (max-width: 774.99px) {
    .pageContentContainer {
        padding-top: 4.25rem;
    }
    .extraPaddingTop {
        padding-top: 4.25rem;
    }
}