.imageLink {
    width: 8%;
    padding: .5rem 1.5rem;
    color: #f8f7f7;
}
.imageLink:hover {
    transform: scale(1.25);
    transition: transform 1s;
}
.logoContainer {
    width: 100%;
}
.navigationLogo {
    display: block;
    width: 100%;
}
@media screen and (min-width: 1680px) {
    .imageLink {
        width: 100%;
        padding: 1.25rem 0 1rem 0;
    }
    .imageLink:hover {
        transform: scale(1.05);
        transition: transform 1s;
    }
}