.basicInfo {
    display: flex;
    margin: 0 0 1.5rem 0;
    justify-content: center;
    align-items: center;
}
.professionalImageContainer {
    flex: 1;
    margin: .5rem .75rem 0 0;
}
#LexiWinstanleyPhoto {
    max-width: 100%;
}
.introParagraph {
    flex: 1;
    color: #f8f7f7;
    padding-left: .75rem;
}
@media screen and (min-width: 0px) and (max-width: 899.99px){
    .professionalImageContainer {
        flex: .75;
        margin: .5rem 0 0 .75rem;
        order: 2;
    }
    .introParagraph {
        flex: 1;
        color: #f8f7f7;
        padding-right: .75rem;
        padding-left: 0;
    }
}