.hexagonContainer {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: .4rem;
}
.outerHexagonMask {
    transform: rotate(-30deg) skewY(30deg);
    background: #fd005f;
    position: relative;
    width: 86.60254%;
    padding: 0 0 100% 0;
    overflow: hidden;
    visibility: hidden;
    margin: -6.69873% 0;
}
.innerHexagonMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdbf00;
    transform: skewY(-30deg) rotate(60deg);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}
.hexChild {
    transform: skewY(0deg) rotate(-30deg);
}