.hexagonContainer {
    width: 20%;
    /*width: 33.33%3333%;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: .15rem;
}
.outerHexagonMask {
    transform: rotate(-30deg) skewY(30deg);
    position: relative;
    width: 86.60254%;
    padding: 0 0 100% 0;
    overflow: hidden;
    visibility: hidden;
    margin: -6.69873% 0;
}
.innerHexagonMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-30deg) rotate(60deg);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    overflow: hidden;
}
.hexChild {
    transform: skewY(0deg) rotate(-30deg);
    height: 86.60254%;
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}
.hexTitle {
    margin: 0;
    text-align: center;
    opacity: 0;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
}
.hexTech {
    margin: 0;
    text-align: center;
    opacity: 0;
    font-size: 1rem;
    padding-top: .75rem;
    font-weight: 400;
}
.hexImageContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}
.hexImage {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.hexChild:hover .hexImage {
    opacity: 0.3;
    transform: scale(1.75) translate(20px,20px);
    transition: transform 2s, opacity 2s;
}
.hexChild:hover .hexTitle {
    opacity: 1;
    transition: opacity 2s;
}
.hexChild:hover .hexTech {
    opacity: 1;
    transition: opacity 2s;
}
