.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(248,247,247,.9);
    position: fixed;
    z-index: 10;
    flex-wrap: wrap;
    margin: 0;
    padding: .5rem;
    /*height: 100vh; should take up full screen when page first loads, wait then transition back to under menu, when menu is hovered text should appear, will need alternate solution for mobile*/
}
.menuContainer {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
}

.menuContainer:hover + .introContainer {
    display: flex;
}