.desktopScreenshotContainer {
    flex: 2;
    padding: 0 10%;
}
.desktopImagesContainer {
    position: relative;
    width: 100%;
}
.desktopBack {
    width: 100%;
}
.desktopScreen {
    position: absolute;
    z-index: 20;
    top: 10.77%;
    left: .5%;
    overflow-y: scroll;
    width: 99%;
    height: 87.5%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.screenshot {
    z-index: 20;
    width: 100%;
    display: block;
}
.desktopScreen::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}