.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    margin: -.25rem 0 0 0;
    padding: 0 1.25rem .75rem 1.25rem;
    justify-content: space-between;
    width: 100%;
}
@media screen and (min-width: 0px) and (max-width: 774.99px) {
    .buttonContainer {
        display: none;
    }
}