/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Barlow Condensed', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end reset*/

* {
  box-sizing: border-box;
  color: #0F0F0D;
  font-family: 'Barlow Condensed', sans-serif;
}
*:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 .1rem #0f0f0d;
}
a {
  cursor: pointer;
}
a:visited {
  outline: none;
  border: none;
  box-shadow: none;
  opacity: .7;
}
a:focus {
  text-decoration: underline;
  outline: none;
  border: none;
  box-shadow: none;
}
a:active {
  text-decoration: underline;
  outline: none;
  border: none;
  box-shadow: none;
}
input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 .2rem #0f0f0d;
}
textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 .2rem #0f0f0d;
}
button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 .2rem #0f0f0d;
}
html, body {
  background-color: #f8f7f7;
  font-size: 16pt;
}
img {
  max-width: 100%;
  display: block;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.boldTextLight {
  font-weight: 700;
  color: #f8f7f7;
}
.boldTextDark {
  font-weight: 700;
  color: #0f0f0d;
}
.pageTitle {
  font-size: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 700
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.visibilityHidden {
  visibility: hidden;
}
.noDisplay {
  display: none;
}
.overflowHidden {
  overflow: hidden;
}
.mainHorizontalPadding {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media screen and (min-width: 2500px) {
  html, body {
    font-size: 30pt;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2499.99px) {
  html, body {
    font-size: 30pt;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1999.99px) {
  html, body {
    font-size: 26pt;
  }
}
@media screen and (min-width: 1180px) and (max-width: 1679.99px){
  html, body {
    font-size: 22pt;
  }
}
@media screen and (min-width: 900px) and (max-width: 1179.99px){
  html, body {
    font-size: 16pt;
  }
}
@media screen and (min-width: 775px) and (max-width: 899.99px){
  html, body {
    font-size: 14pt;
  }
}
@media screen and (min-width: 600px) and (max-width: 774.99px) {
  html, body {
    font-size: 18pt;
  }
}
@media screen and (min-width: 400px) and (max-width: 599.99px) {
  html, body {
    font-size: 16pt;
  }
}
@media screen and (min-width: 0px) and (max-width: 399.99px) {
  html, body {
    font-size: 14pt;
  }
}
